.header {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    padding: 5px;

    img {
        height: 40px;
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }

}